<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Open Cloud Start Confirmation Key</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>

<body>
						Welcome ##firstname##,<br /><br />
						
                        This email is to confirm and activate your account so you can login. <br />
                        
                        Click on the following link to confirm your account. <br />
                        <a href="##link##">Click to confirm your account</a><br /><br />
                        
                        If the above link did not work past the folloing into your web browser. <br />
                        ##link##<br /><br />
                        
                        If you got this email in error please contact us at info@opencloudstart.com<br /> 
                        Thank you for trusting our company. 
                        
                        Open Cloud Start
                        
                       
		              
		</body>
		</html>
